@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  transition: 0.25s ease-in-out;
}
.check{
  border: solid 2px red;
}

.custom-box-shadow{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

html {
	scroll-behavior: smooth;
}

section{
  min-height: 80vh !important;
}

::-webkit-scrollbar{
  width: 0.5vw;
  background: transparent;
}
::-webkit-scrollbar-thumb{
  background: -webkit-linear-gradient(transparent,rgb(248, 101, 43));
  /* background: rgb(248, 101, 43); */
  background: linear-gradient( #ffa600,rgb(248, 101, 43));
  border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover{
 background: -webkit-linear-gradient(transparent,#00c6ff);
 background: linear-gradient(rgb(248, 101, 43), #ffa600); 
}